{% extends "base.html" %}
{% load static %}

{% block body %}

<section class="bg-img1 txt-center p-lr-15 p-tb-92"
style="background-image:url('{% static "images/bg-01.jpg" %}')">

    <h2 class="ltext-105 cl0">
        Change Password
    </h2>

</section>


<section class="bg0 p-t-80 p-b-120">

<div class="container">

<div class="row justify-content-center">

<div class="col-md-6">

<div class="bor10 p-lr-40 p-t-35 p-b-40">

<form method="POST">

{% csrf_token %}

<div class="m-b-20">

<label>Current Password</label>

{{ form.old_password }}

</div>

<div class="m-b-20">

<label>New Password</label>

{{ form.new_password1 }}

</div>

<div class="m-b-30">

<label>Confirm Password</label>

{{ form.new_password2 }}

</div>

<button
class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04">

Save Changes

</button>

</form>

</div>

</div>

</div>

</div>

</section>

{% endblock %}