{% extends "base.html" %}

{% load static %}

{% block extra_css %}
	<style>
		.product-gallery .thumb{

			width:80px;

			height:80px;

			object-fit:cover;

			cursor:pointer;

			border-radius:10px;

			border:2px solid transparent;

			transition:.3s;

		}

		.product-gallery .thumb:hover{

			border-color:black;

		}

		.product-gallery .thumb.active{

			border-color:black;

		}

		.main-image img{

			border-radius:15px;

		}
		.color-btn{

			width:35px;

			height:35px;

			border-radius:50%;

			border:2px solid #ddd;

			cursor:pointer;

			transition:.3s;

		}

		.color-btn:hover{

			transform:scale(1.15);

		}

		.color-btn.active{

			border:3px solid black;

		}
		.size-btn{

			width:55px;

			height:55px;

			border:1px solid #ddd;

			background:white;

			border-radius:12px;

			font-weight:600;

			font-size:18px;

			transition:.25s;

			cursor:pointer;

		}

		.size-btn:hover{

			background:black;

			color:white;

			border-color:black;

		}

		.size-btn.active{

			background:black;

			color:white;

			border-color:black;

		}
		.star{

			font-size:30px;

			color:#d1d5db;

			cursor:pointer;

			transition:.2s;

			margin-right:6px;

		}

		.star:hover{

			transform:scale(1.15);

		}

		.star.active{

			color:#ffc107;

		}
		.quantity-box{

			display:flex;

			align-items:center;

			border:1px solid #ddd;

			border-radius:10px;

			overflow:hidden;

		}

		.qty-btn{

			width:45px;

			height:45px;

			border:none;

			background:#f5f5f5;

			font-size:20px;

			transition:.3s;

		}

		.qty-btn:hover{

			background:black;

			color:white;

		}

		#quantityInput{

			width:55px;

			text-align:center;

			border:none;

			outline:none;

			font-weight:bold;

		}
	</style>
{% endblock %}

{% block body %}


<div class="container py-5">

    <div class="row g-5">

        <!-- Left Side -->

        <div class="col-lg-6">
			<div class="product-gallery">

				<div class="main-image mb-3">

					<img
						id="mainImage"
						src="{{ product.image.url }}"
						class="img-fluid rounded shadow-sm w-100"
					>

				</div>

				<div class="d-flex flex-wrap gap-2">

					<img
						src="{{ product.image.url }}"
						class="thumb active"
						onclick="changeImage(this)"
					>

					{% for image in images %}

					<img
						src="{{ image.images.url }}"
						class="thumb"
						onclick="changeImage(this)"
					>

					{% endfor %}

				</div>
			</div>

        </div>

        <!-- Right Side -->

        <div class="col-lg-6">
			<h2 class="fw-bold mb-3">

				{{ product.name }}

			</h2>

			<div class="mb-3">

				⭐ {{ average_rating|floatformat:1 }}

				({{ review_count }} Reviews)

			</div>

			<h3 class="text-dark fw-bold mb-4">

				EGP {{ product.price }}

			</h3>

			<p class="text-muted mb-4">

				{{ product.description }}

			</p>

			<!-- Color -->

			<div class="mb-4">

				<h5 class="mb-3">

					Color

				</h5>

				<div class="d-flex gap-2">

					{% for color in colors %}

					<button
						class="color-btn"
						data-color="{{ color.id }}"
						style="
							background: {{ color.hex_code }};
							width:40px;
							height:40px;
							border-radius:50%;
							border:2px solid #ddd;
						"
					></button>

					{% endfor %}

				</div>

			</div>


			<!-- Size -->

			<div class="mb-4">

				<h5 class="mb-3">

					Size

				</h5>

				<div
					id="sizesContainer"
					class="d-flex flex-wrap gap-2"
				>

				</div>

			</div>

			<div class="d-flex align-items-center ">

				<div class="quantity-box me-4">

					<button
						type="button"
						id="minusBtn"
						class="qty-btn"
					>

						-

					</button>

					<input
						id="quantityInput"
						type="number"
						value="1"
						min="1"
						readonly
					>

					<button
						type="button"
						id="plusBtn"
						class="qty-btn"
					>

						+

					</button>

				</div>

				<button
					type="button"
					id="addToCartBtn"
					class="btn btn-dark px-5 py-3 rounded-3"
				>

					<i class="fa-solid fa-cart-shopping me-2" id="addToCartBtn"></i>

					Add To Cart

				</button>

			</div>

			<hr class="my-5">

			<h3 class="mb-4">

				Customer Reviews

			</h3>

			<div class="mb-4">

				<div class="mb-3">

				⭐ {{ average_rating|floatformat:1 }}

					({{ review_count }} Reviews)

				</div>

				

			</div>

			<form
				id="review-form"
				action="{% url 'add_review' product.id %}"
				method="POST"
			>

				{% csrf_token %}

				<div class="mb-3">

					<label class="form-label">

						Rating

					</label>

					<div id="starRating">

						{% for i in "12345" %}

							   	<i
									class="fa fa-star-o star"
									data-rate="{{ forloop.counter }}"
								></i>

						{% endfor %}

					</div>

					{{ form.rate }}

				</div>

				<div class="mb-3">

					{{ form.review }}

				</div>

				<button
					class="btn btn-dark"
					type="submit"
				>

					Submit Review

				</button>

			</form>

			<div
				id="reviews-container"
				class="mt-5"
			>

			{% for review in reviews %}

			<div class="border rounded p-3 mb-3">

				<h5>

					{{ review.user.username }}

				</h5>

				<div class="mb-2">

					{% for i in "12345" %}

						{% if forloop.counter <= review.rate %}

							⭐

						{% else %}

							☆

						{% endif %}

					{% endfor %}

				</div>

				<p>

					{{ review.review }}

				</p>

				<small class="text-muted">

					{{ review.created_at|date:"d M Y" }}

				</small>

			</div>

			{% endfor %}

			</div>
			

			
		

		</div>

	</div>
</div>




<script>
	let selectedVariant = null;


	function changeImage(element){

		document
			.getElementById("mainImage")
			.src = element.src;

		document
			.querySelectorAll(".thumb")
			.forEach(img=>img.classList.remove("active"));

		element.classList.add("active");

	}

	document.getElementById("review-form").addEventListener("submit", function(e){

	e.preventDefault();

	const form = this;

	fetch(form.action,{

		method:"POST",

		body:new FormData(form),

		headers:{
			"X-Requested-With":"XMLHttpRequest"
		}

	})

	.then(res=>res.json())

	.then(data=>{

		const reviewsContainer = document.getElementById("reviews-container");

		reviewsContainer.insertAdjacentHTML(
			"afterbegin",
			`
			<div class="flex-w flex-t p-b-68">

				<div class="size-207">

					<div class="flex-w flex-sb-m p-b-17">

						<span class="mtext-107 cl2">
							${data.username}
						</span>

						<span>
							${"⭐".repeat(data.rate)}
						</span>

					</div>

					<p>
						${data.review}
					</p>

				</div>

			</div>
			`
		);

		form.reset();

		});

	});

	const variants = JSON.parse(
		'{{ variants_json|escapejs }}'
	);

	const colorButtons = document.querySelectorAll(".color-btn");

	const sizeContainer = document.getElementById("sizesContainer");

	let selectedColor = null;

	colorButtons.forEach(button => {

		button.addEventListener("click", () => {

			colorButtons.forEach(
				b => b.classList.remove("active")
			);

			button.classList.add("active");

			selectedColor = Number(button.dataset.color);

			renderSizes();

		});

	});

	function renderSizes() {

		sizeContainer.innerHTML = "";

		const filtered = variants.filter(
			v => v.color_id == selectedColor
		);

		filtered.forEach(variant => {

			sizeContainer.innerHTML += `

				<button
					type="button"
					class="size-btn"
					data-variant="${variant.id}"
				>

					${variant.size}

				</button>

			`;

		});

		const sizeButtons = document.querySelectorAll(".size-btn");

		sizeButtons.forEach(button => {

			button.addEventListener("click", () => {

				sizeButtons.forEach(btn => {

					btn.classList.remove("active");

				});

				button.classList.add("active");

				const variant = variants.find(
					v => v.id == Number(button.dataset.variant)
				);

				selectedVariant = variant.id;

				document.getElementById("selectedVariant").value = selectedVariant;

				const addBtn = document.getElementById("addToCartBtn");

				if (variant.stock <= 0) {

					addBtn.disabled = true;
					addBtn.innerText = "Out Of Stock";

				} else {

					addBtn.disabled = false;
					addBtn.innerText = "Add To Cart";

				}

				console.log(variant);
			});

		});

	}

	const stars = document.querySelectorAll(".star");

	const rateInput = document.getElementById("id_rate");

	let selectedRate = 0;

	stars.forEach(star=>{

		star.addEventListener("click",function(){

			selectedRate = Number(this.dataset.rate);

			rateInput.value = selectedRate;

			updateStars(selectedRate);

		});

	});

	function updateStars(rate){

		stars.forEach(star=>{

			if(Number(star.dataset.rate)<=rate){

				star.classList.remove("fa-regular");
				star.classList.add("fa-solid");
				star.classList.add("active");

			}

			else{

				star.classList.remove("fa-solid");
				star.classList.add("fa-regular");
				star.classList.remove("active");

			}

		});

	}

	const quantityInput =
	document.getElementById("quantityInput");

	document
	.getElementById("plusBtn")
	.addEventListener("click",()=>{

		quantityInput.value++;

	});

	document
	.getElementById("minusBtn")
	.addEventListener("click",()=>{

		if(quantityInput.value>1){

			quantityInput.value--;

		}

	});

	function getCookie(name) {

		let cookieValue = null;

		if (document.cookie && document.cookie !== "") {

			const cookies = document.cookie.split(";");

			for (let cookie of cookies) {

				cookie = cookie.trim();

				if (cookie.startsWith(name + "=")) {

					cookieValue = decodeURIComponent(
						cookie.substring(name.length + 1)
					);

					break;

				}

			}

		}

		return cookieValue;

	}

	

	document
	.getElementById("addToCartBtn")
	.addEventListener("click", function () {

		if (!selectedVariant) {

			alert("Please choose a size.");

			return;

		}

		fetch("{% url 'add_to_cart' %}", {

			method: "POST",

			headers: {

				"Content-Type": "application/json",

				"X-CSRFToken": csrftoken

			},

			body: JSON.stringify({

				variant_id: selectedVariant,

				quantity: Number(
					document.getElementById("quantityInput").value
				)

			})

		})

		.then(response => response.json())

		.then(data => {

			if (data.success) {

				showToast(data.message, true);
				document
					.getElementById("cartIcon")
					.setAttribute("data-notify", data.cart_count);
				document
					.getElementById("cartCount")
					.setAttribute("data-notify", data.cart_count);


			}

			else {

				showToast(data.message, false);

			}

		});

	});
</script>
{% endblock body %}



